@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x:  hidden !important;
}

.header-background-image{
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.432)), url(https://res.cloudinary.com/dyojwpsfb/image/upload/v1653019500/room13_tmm85k.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.service-background-image{
    background:url(https://res.cloudinary.com/dyojwpsfb/image/upload/v1653019727/room10_s0o9pc.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.explore-background-image{
    background:url(https://res.cloudinary.com/dyojwpsfb/image/upload/v1653019727/room10_s0o9pc.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* background-image: linear-gradient(0, 0, 0, 0.658), url(../images/Job\ Hunt\ 3.png); */
